@model WebAppTinhVanCat_aspnetcore.Models.Products.CategoryProduct

@{
    ViewData["Title"] = "Xóa danh mục sản phẩm";
    
}

<h3>Chắc chắn xóa danh mục sản phẩm này?</h3>
<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh mục sản phẩm</a>
    </form>
</div>
@{
    _AdminSideBarService.SetActive("CategoryProduct", "Index", "Product");
}
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}