@model WebAppTinhVanCat_aspnetcore.Models.Products.CategoryProduct

@{
    ViewData["Title"] = Model.Title;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1> @ViewData["Title"]</h1>

<div>
    <h4>Chuyên mục</h4>
    <hr />
    <dl class="row">
     
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
        <dt class = "col-sm-2">
           Url
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
     
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sữa</a> |
    <a asp-action="Index">Trở lại danh mục sản phẩm</a>
</div>
