@{
    ViewData["Title"] = "Thông báo";
    Layout = "_LoginLayout";
}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">

                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Chúng tôi đã gửi một liên kết để xác thực tài khoản!</h1>
                                <p class="mb-4">
                                    Vui lòng kiểm tra Email của tài khoản!.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>