@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Xác thực";
    Layout = "_LoginLayout";
}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">

                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h2 text-gray-900 mb-4">Nhập mã khôi phục</h1>
                                 <p class="mb-4">
                                    
                                </p>
                            </div>
                            <form class="user form-horizontal" method="post" asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"  role="form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Provider" type="hidden" />
                                <input asp-for="RememberMe" type="hidden" />
                               
                                <div class="form-group">
                                    <input asp-for="Code" class="form-control form-control-user" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input asp-for="RememberBrowser" type="checkbox" class="custom-control-input" id="customCheck">
                                        <label asp-for="RememberBrowser" class="custom-control-label" for="customCheck">
                                            @Html.DisplayNameFor(m => m.RememberBrowser)
                                        </label>
                                    </div>
                                </div>
                               
                                <button type="submit" class="btn btn btn-primary btn-user btn-block  font-weight-bold">Gửi</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
