@model Category

@{
    ViewData["Title"] = "Xóa chuyên mục " + Model.Title;
  
}

<h4>Chắc chắn xóa chuyên mục này?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh sách chuyên mục</a>
    </form>
</div>
@{
    _AdminSideBarService.SetActive("Category", "Index", "Blog");
}
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}