@using WebAppTinhVanCat_aspnetcore.Models;
@model TradeMarkModel;

@{
    ViewData["Title"] = "Thêm thương hiệu mới";

   
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="10" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Trở lại danh sách thương hiệu</a>
        </div>
    </div>


</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
}

@{
    _AdminSideBarService.SetActive("TradeMark", "Index", "Product");
}
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}