@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using WebAppTinhVanCat_aspnetcore.Areas.Product.Models;
@using WebAppTinhVanCat_aspnetcore.Areas.Product.Service;
@inject IHttpContextAccessor HttpContextAccessor;
@inject CartService _CartService;

@{

    var cart = _CartService.GetCartItems();
    if(cart.Count>0)
    {
        <div class="nav-item  mt-2">
            <a class="text-light  mr-2" asp-route="cart">
                <i class="fas fa-shopping-cart fa-lg"></i>
                (@cart.Count)
            </a>
        </div>
         
    }
}