




<div class="dropdown ">
    <div class="dropdown-toggle text-danger" data-toggle="dropdown">
        <strong>Manage</strong>
    </div>
    <div class="dropdown-menu" >
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
       
    </div>
</div>
