@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService authorizationServer;


@{
    var result = await authorizationServer.AuthorizeAsync(this.User, "viewManageMenu");
}


@if (result.Succeeded)
{
    <a class="nav-link text-success" asp-action="Index" asp-controller="Admin" asp-area="AdminCP"><i class="fas fa-cog"></i>  Quản trị</a>

}

