




<div class="dropdown ">
    <div class="dropdown-toggle text-danger" data-toggle="dropdown">
        <strong>Manage</strong>
    </div>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Quản Lý Role</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">Quản Lý User</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Quản lý Liên Hệ</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">Quản lý Chuyên mục Blog</a>

    </div>
</div>
