body {
  background: #fff;
  color: #1d1d1f;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom:  auto;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.breadcrumb-item a{
    font-size: 14pt;
    text-decoration:none;
    color :#ff0000;
    
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    font-size: 19pt;
}



.categorysidebar ul, .categorysidebar li {
    list-style: none;
    padding-left: 10px;
    margin-top: 10px;
   
}
.categorysidebar a {
    text-decoration: none;
    font-size: 15pt;
    color: #ff0000;
}
.categorysidebar a:hover {
  color: #02006e;
 
  font-weight: 600;
}
.categorysidebar a.active {
  color: blue;
}
.categorysidebar > ul > li > a {
  font-weight: bold;
  color:red;
}
.categorysidebar h4 {
  text-transform: uppercase;
  font-size: 1.3em;
  
}

.contact-firstcol {
    background-color: #ff0000;
    color: white;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.formcontact label {
  font-weight: 700;
}


.app-footer {
  background-color: #25273b;
  text-align: center;
  color: white;
}

.detailpost h2 {
  font-weight: 300;
}
.detailpost .sapo {
  font-weight: 500;
  font-style: italic;
}
.detailpost img {
  max-width: 100%;
}

.photodetail {
  position: relative;
}
.photodetail span {
  position: absolute;
  bottom: 45%;
  left: 38%;
  display: none;
}
.photodetail:hover span {
  display: block;
}

.cart-img {
    width: 100%;
    height: 170px;
    min-height: 150px;
    margin:5px 0;
}

.cart-img .card-img-top {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.4s;
}

.card-product .card:hover {
  box-shadow: 5px 5px 10px #e9ecef;
  background-color: #e9ecef;
}
.card-product .card:hover .cart-img .card-img-top {
  transform: scale(1.08);
}
.card-title{
    height: 25px;
}
.detailpost .photo-detail {
    background-color: white;
    width: 100%;
    min-height:400px;
    height:auto;
}
    .detailpost .photo-detail img {
        max-height: 400px;
      
        object-fit: cover;
        height: auto;
    }
.detailpost .photo-list .photo-list-item {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  float: left;
  border: solid 1px #808080;
  transition: transform 0.4s;
}
.detailpost .photo-list .photo-list-item img {
  padding: 2px;
  max-height: 100px;
  min-width: 100px;
  object-fit: cover;
}
.detailpost .photo-list .photo-list-item:hover {
  transform: scale(1.1);
}

.cart-photo {
  max-height: 100px;
  min-width: 100px;
  object-fit: cover;
}

.photo-post img {
    width :150px;
}

@media (min-width: 1200px) {
    .container {
        min-width: 1500px;
    }
}

