@model Contact

@{
    ViewData["Title"] = "Liên hệ và góp ý";
    Layout = "/Views/Shared/_LayoutClient.cshtml";
}

<partial name="_StatusMessage"></partial>

<div class="row">
    <div class="col-md-4">
        <div class="contact-firstcol p-2 h-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1429.754494821324!2d105.76990251362123!3d10.030703324796137!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0883d2192b0f1%3A0x4c90a391d232ccce!2zVHLGsOG7nW5nIEPDtG5nIE5naOG7hyBUaMO0bmcgVGluIHbDoCBUcnV54buBbiBUaMO0bmcgKENUVSk!5e0!3m2!1svi!2s!4v1680546098758!5m2!1svi!2s" height="300" style="border:0; width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h1> @ViewData["Title"] </h1>
            <p>
                Bạn có vấn đề không hài lòng, bạn muốn góp ý với chúng tôi. Xin đừng ngần ngại,
                hãy điền đầy đủ thông tin theo mẫu bên dưới và gửi về chúng tôi.
                Chúng tôi chân thành cảm ơn và tôn trọng ý kiến của bạn!
            </p>
        </div>
       
    </div>
    <div class="col-md-8">
        <form asp-action="SendContact" class="formcontact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Massage" class="control-label"></label>
                <textarea rows="5" asp-for="Massage" class="form-control"></textarea>
                <span asp-validation-for="Massage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gửi" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
