

@{
    ViewData["Title"] = "Xóa Database";
    _AdminSideBarService.SetActive("DbManage","Index","Database");
}
<h1> @ViewData["Title"]</h1>

<p class="alert alert-danger" > Bạn có chắn chắn xóa ?</p>

<form method="post" >
    <button type="submit" class="btn badge-danger">
        Xóa DB
    </button>
    <hr />
    <a  asp-action="Index"> Quản lý DB</a>
</form>

@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}