@page "/Disable-2FA/"
@model Disable2faModel
@{
    ViewData["Title"] = "Vô hiệu hóa xác thực 2 yếu tố (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Hành động này chỉ vô hiệu hóa 2FA.</strong>
    </p>
    <p>
        Vô hiệu hóa 2FA không thay đổi các khóa được sử dụng trong ứng dụng xác thực. 
        Nếu bạn muốn thay đổi khóa được sử dụng trong ứng dụng trình xác thực, 
        bạn nên đặt lại các khóa trình xác thực của mình. <a asp-page="./ResetAuthenticator">Tại Đây.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Vô hiệu hóa 2FA</button>
    </form>
</div>
