@page "/Enable-2FA/"
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Cấu hình ứng dụng xác thực";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Để sử dụng ứng dụng xác thực hay làm theo các bước sau:</p>
    <ol class="list">
        <li>
            <p>
                Tải xuống ứng dụng xác thực 2 yếu tố Microsoft Authenticator cho
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> và
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> hoặc
                Google Authenticator cho
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> và
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Quét mã QR hoặc nhập mã này <kbd>@Model.SharedKey</kbd> vào ứng dụng xác thực ( không phân biệt khoảng cách, chữ hoa/thường ).</p>
            @* <div class="alert alert-info">Learn how to <a href="https://go.microsoft.com/fwlink/?Linkid=852423">enable QR code generation</a>.</div> *@
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Khi bạn đã quét mã QR hoặc nhập khóa ở trên, ứng dụng xác thực hai yếu tố của bạn sẽ cung cấp cho bạn một mã duy nhất. 
                Nhập mã vào ô xác nhận bên dưới.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Mã xác thực</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Kiểm tra</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
}
