@page "/GenerateRecoveryCodes/"
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Tạo mã khôi phục 2 yếu tố (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Đặt những mã này ở một nơi an toàn.</strong>
    </p>
    <p>
        Nếu bạn bị mất thiết bị và không có mã khôi phục, bạn sẽ mất quyền truy cập vào tài khoản của mình.
    </p>
    <p>
        Việc tạo mã khôi phục mới không thay đổi các khóa được sử dụng trong ứng dụng xác thực. 
        Nếu bạn muốn thay đổi khóa được sử dụng trong ứng dụng trình xác thực, bạn nên đặt lại các khóa xác thực.
         <a asp-page="./ResetAuthenticator"> Tại đây.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Tạo bộ mã khôi phục mới</button>
    </form>
</div