@page "/ResetAuthenticator/"
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Đặt lại khóa xác thực";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Nếu bạn đặt lại khóa xác thực, ứng dụng xác thực của bạn sẽ không hoạt động cho đến khi bạn cấu hình lại.</strong>
    </p>
    <p>
        Quá trình này sẽ vô hiệu hóa 2FA cho đến khi bạn xác minh ứng dụng xác thực của mình. 
        Nếu bạn không hoàn thành cấu hình ứng dụng trình xác thực, bạn có thể mất quyền truy cập vào tài khoản của mình.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Đặt lại khóa xác thực</button>
    </form>
</div>