@page "/khongcoquyentruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<header style="text-align: center;" >
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền truy cập trên trang này.</p>
    <img style="justify-content: center;" width=" 200px" src="https://i.pinimg.com/originals/27/99/bc/2799bc32405102d8907ad56dd955aa60.gif" alt="" >
</header>
