@page "/thong-tin-quen-mat-khau.html"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hay kiểm tra email để lấy lại mật khẩu.
</p>

