@page "ResetPasswordConfirmation.html"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = " Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
        Đặt lại mật khẩu thành công. Vui lòng đăng nhập lại <a asp-page="./Login"> Tại đây.</a>.
</p>
