@using WebAppTinhVanCat_aspnetcore.Menu;
@inject AdminSideBarService _AdminSideBarService;
@{
    Layout = "_LayoutAdmin";
}

   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />
    <link rel="stylesheet" href="~/css/elfinder-material-theme/Material/css/theme-gray.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/elfinder/js/elfinder.min.js"></script>


   
    <div class=" h-100 " >
        <main role="main" class=" ">
            @RenderBody()
        </main>
    </div>
   
    @await RenderSectionAsync("Scripts", required: false)

@{
    _AdminSideBarService.SetActive("FileManager", "Index", "Files");
}
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}
